#container {
    background: #222 url("/assets/gas-station.jpg") center center
      no-repeat;
    background-size: cover;
  }
  
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }