<div id="container">
    <div class="d-flex vh-100 justify-content-center">
        <div class="row align-self-center">
            <div class="card mr-5" style="width:400px">
                <img class="card-img-top mt-5 icon" src="/assets/create.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Create Orders</h4>
                    <p class="card-text">create a fuel order</p>

                    <a class="btn btn-primary" >Create</a>
                </div>
            </div>
            <div class="card" style="width:400px">
                <img class="card-img-top mt-5  icon" src="/assets/status.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Check Status</h4>
                    <p class="card-text">check status of your orders</p>
                    <a class="btn btn-primary" >Check</a>
                </div>
            </div>
            <div class="card mr-5" style="width:400px">
                <img class="card-img-top mt-5 icon" src="/assets/confirm.png" alt="Card image">
                <div class="card-body text-center">
                    <h4 class="card-title">Confirm Orders</h4>
                    <p class="card-text">confirm, If you receive the fuel order</p>

                    <a class="btn btn-primary" >Create</a>
                </div>
            </div>
        </div>
    </div>
</div>> 

